*<nav class="navbar navbar-expand-sm bg-danger navbar-dark justify-content-center">
 <!-- Brand -->
  <a class="navbar-brand" href="/" style="font-family: lugo; font-size: 30; font-weight:bold">ShiftWalk</a>
 <!-- Links -->
   <ul class="navbar-nav">
    <li class="nav-item">
     <a class="nav-link" href="/">Home</a>
    </li>
 <!-- Dropdown -->
   <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
 Manage Users
 </a>
   <div class="dropdown-menu">
    <a class="dropdown-item" href="/CreateMember">Create User</a>
    <a class="dropdown-item" href="#">Retrieve Users</a>
   </div>
 </li>

 <li class="nav-item">
 <a class="nav-link" href="/contactUs">Contact Us</a>

 </li>
    <li>
     <a class="nav-link" href="/admin">Staff</a>
    </li>
 </ul>

<
 <button onclick="/CreateMember">Login</button>

</nav>
