{% extends "base.html"%}
{% block title %}Library Loan System - Create User{% endblock %}
{% block content %}

<h1>ADMINISTRATION</h1>
<p>Staff Name:</p>
<p>Staff ID:</p>
<hr>
<div class="hstack gap-3">
<div class="card" style="width: 25%">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <img src="{{ url_for('static', filename='usergroup.png') }}" height="300px" width="300px"
    class="image"/>
    <a href="#" class="card-link">MEMBER RECORD</a>

  </div>
</div>
<div class="card" style="width: 25%">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <img src="{{ url_for('static', filename='stock-inventory.jpg') }}" height="300px" width="300px"
    class="image"/>
    <a href="#" class="card-link">STOCK INVENTORY</a>
  </div>
</div>
<div class="card" style="width: 25%">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <img src="{{ url_for('static', filename='salesrecord.png') }}" height="300px" width="300px"
    class="image"/>
    <a href="#" class="card-link">SALES RECORD</a>
  </div>
</div>
<div class="card" style="width:25%">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <img src="{{ url_for('static', filename='support.png') }}" height="300px" width="300px"
    class="image"/>
    <a href="#" class="card-link">CUSTOMER SUPPORT</a>
  </div>
</div>
</div>
{% endblock %}