{% extends "base.html" %}
{% block content %}



<div class="container overflow-hidden text-center">
        <div class="container">
            <img src="..." class="rounded float-start" alt="...">
        </div>

        <div class="container px-4 text-center" style="text">
                    <div class="container px-4">
                        <h1>Women Slippers</h1>
                        <p>by BATA Pata Pata <br> SKU: 5710222030</p>
                        <p>$19.95 <br> $6.65 x 3 monthly instalments. No interest or fees with </p>
                    </div>

                <div class="form-check form-check-inline p-4">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2 value="option2">
  <label class="form-check-label" for="inlineRadio2">3</label>
</div>

                <div class="d-grid gap-2 d-md-block p-4">
                    <button class="btn btn-primary" type="button">7</button>
                    <button class="btn btn-primary" type="button">8</button>
                    <button class="btn btn-primary" type="button">9</button>
                    <button class="btn btn-primary" type="button">10</button>
                </div>

            <div class="dropdown p-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Quantity
                </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">1</a></li>
    <li><a class="dropdown-item" href="#">2</a></li>
    <li><a class="dropdown-item" href="#">3</a></li>
  </ul>
</div>

            <div class="col">
                <div class="p-3 border rounded-1">Price - </div>
            </div>

    </div>
</div>


{% endblock %}

