{% extends "base.html" %}
{% block title %}Library Loan System - Forgot password{% endblock %}
{% block content %}
<head>
    <title>Radio Button Example</title>
    <script>
        function toggleVisibility() {
            var item1 = document.getElementById('item-to-show1');
            var item = document.getElementById('item-to-show2');
            var radioChecked1 = document.querySelector('input[name="options1"]:checked');
            var radioChecked2 = document.querySelector('input[name="options2"]:checked');

            if (radioChecked1 && radioChecked.value === 'show') {
                item1.style.display = 'block';
                item.style.display = 'none';
            } else {
                item1.style.display = 'none';
                item.style.display = 'block';
            }
            if(radiochecked2 && radioChecked.value === 'show'){
                item1.style.display = 'none';
                item.style.display = 'block';
            }
        }

    </script>
</head>

<div class="border">
<div class="form-check" >
  <input class="form-check-input" type="radio"  name="options1" value="show" onclick="toggleVisibility()" >
  <label class="form-check-label" for="item-to-show1">
    Phone Number
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="options2"  value="hide" onclick="toggleVisibility()">
  <label class="form-check-label" for="item-to-show">
    Email
  </label>
    <div id="item-to-show1" style="display: none;">
        Phone Number

    </div>
    <div id="item-to-show" style="display: none;">
        Email

    </div>
</div>
</div>
{% endblock %}
