{% extends "base.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}
<header style="position: relative;
  height: 500px;
  background: red;
color:white;width:100%; padding:0px">
<svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="-300 0 950 270"  style="  position: absolute;
  bottom: 0;
  width: auto;
  height: auto;">
    <path d="M-314,267 C105,364 400,100 812,279" fill="none" stroke="white" stroke-width="120" stroke-linecap="round"/>
  </svg>

<div style="background-color: red">
    <div class="column" style="float: left; width: 50%;">
<h1 class="display-4" style="font-family:lugo">Bata</h1>

<img src="{{ user_image }}" height="240px" width="200px">

</div>
    <div class="column" style="float: right;
  width: 50%;">
<h1> Benefit of Member</h1>
        <ul>
            <li>earn up to 250 to redeem $12.50</li>
            <li>enjoy 10% for your next purchase (one-time redeem)</li>
            <li>enjoy birthday month discount(silver -15%, gold-20%,platinum-25%)</li>
        </ul>
        <button>Sign Up</button>

    </div>
    </div>
    </header>
<div>
    <h1 style="color: black; display:flex; justify-content: center">
        Category
    </h1>
    <div>
        <div class="column" style="float: left; width: 30%;height:240px; width:200px;border-style: solid">
            <h2>Ladies</h2>
        </div>
        <div class="column" style="display:flex; justify-content: center;width:30%;border-style: solid">
            <h2>
                Mens
            </h2>
        </div>
        <div class="column" style=" width: 30%;height:240px; width:200px;border-style: solid">
            <h2>
                Childrens
            </h2>
        </div>

    </div>
</div>


{% endblock %}