{% extends "base.html"%}
{% block title %}Library Loan System - Create User{% endblock %}
{% block content %}
{% from "includes/formhelper.html" import render_field %}



<div class="border border-success p-2 mb-2 mx-auto p-2" style="width: 1300px; margin-top:30px">
<div class="container text-center" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col">
      <h1>Login</h1>
        <img src="{{ url_for('static', filename='user-circle.png') }}"
    class="image"/>
    <form method="post" action="">
    <div class="form-group">
         {{ render_field(login.phonenumber, class="form-control") }}
    </div>
    <div class="form-group">
         {{ render_field(login.password, class="form-control") }}
    </div>
    <p></p>
        <a href="/forgotpassword">forgot password?</a><br>
        {{ render_field(login.submit) }}
</form>
    </div >

    <div class="col" style="background:#51C4D3;">

      <h1> Benefit of Member</h1>

        <div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3">
          <img src="{{ url_for('static', filename='point.png') }}" height="60px">
    <p>earn up to 250 to redeem $12.50</p>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3">
          <img src="{{ url_for('static', filename='anniversary.png') }}"  height="60px">
    <p>Enjoy 10% Anniversary</p>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3">
          <img src="{{ url_for('static', filename='birthday.png') }}"  height="60px">
    <p>enjoy birthday month discount(silver -15%, gold-20%,platinum-25%)</p>
      </div>
    </div>
    <div class="col-6">
      <div class="p-3">   <img src="{{ url_for('static', filename='lifetime.png') }}"  height="60px">
    <p>Lifetime Membership</p>
      </div>
    </div>
  </div>
</div>

        <a href="/CreateMember"><button type="button" class="btn btn-success" >Sign Up Now</button></a>
    </div>
  </div>
</div>
</div>
{% endblock %}