{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Member</h1>
<div>
 {% if count == 0 %}
 <p>There are no users.</p>
 {% elif count == 1 %}
 <p>There is 1 user.</p>
 {% else %}
 <p>There are {{ count }} users.</p>
 {% endif %}
</div>

<div>
 <table class="table table-striped">
 <thead>
 <tr>
 <th>User ID</th>
 <th>First Name</th>
  <td>Phone Number</td>
 <th>Date</th>
 <th>Gender</th>
  <td>Points</td>

 <th></th>
 <th></th>
 </tr>
 </thead>
 <tbody>{% for member in member_list %}
 <tr>
 <td>{{ member.get_user_id() }}</td>
 <td>{{ member.get_first_name() }} {{  member.get_last_name()}}</td>
  <td>{{ member.get_phone_number()}}</td>
 <td>{{ member.get_date_of_birth() }}</td>
 <td>{{ member.get_gender() }}</td>
  <td>{{ member.get_point() }}</td>


 </tr>
 {% endfor %}

 </tbody>
 </table>
</div>
{% endblock %}
